
.cabecalho{
  background: #e81b1b;
  margin-bottom: 15px;
}

#logo{
  width: 400px;
}

#icons{
width: 30px;
position: absolute;
top: 80px;
left: 80px;
}



.container a {
color: #d30000;
}

.cabecalho a{
color: #ffffff;
position: absolute;
top: 80px;
left: 120px;
font-size: 15px;
}

.cabecalho a:hover{
color:#000000;
text-decoration: none;
font-size: 18px;
font-weight: bold;
}

#01 p{
  -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.paragrafo{
  text-align: justify;
}

#01 p:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.Titulo{
  font-family: 'Montserrat', sans-serif;
  background: rgba(230, 230, 230, .5);
  text-align: center;
}
.panel-body{
font-weight: normal;
color: #000000;
}

#salva {
  transition: transform .2s
}

#salva:hover{
transform: scale(1.1);
}

.rodape{
  margin-top: -15px;
  text-align: center;
  background: #e81b1b;
  color: #fdfbfb;
  font-weight:300;
}

span{
  margin-left: 65%;
  color: #4286f4;
  font-weight:400;
}

.rodape2{
  margin-top: 15px;
  text-align: center;
  background: #e81b1b;
  color: #fdfbfb;
  font-weight:300;
}

#logo_fundo{
  width: 150px;
}
