
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.cabecalho{
  background: #e81b1b;
  margin-bottom: 15px;
}

#logo{
  width: 400px;
}

#icons{
width: 30px;
position: absolute;
top: 80px;
left: 80px;
}
.ultimanoticia{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  border-radius: 4px;
  background:  #e81b1b;
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;

}

.ultimanoticia span{
color: #ffffff;
}
.container a {
color: #d30000;

}

.cabecalho a{
color: #ffffff;
position: absolute;
top: 80px;
left: 120px;
font-size: 15px;
}

.cabecalho a:hover{
color:#000000;
text-decoration: none;
font-size: 18px;
font-weight: bold;
}



.paragrafo{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-align: justify;
  color: #706f6f;
}


.Titulo{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

  text-align: center;
}


#salva {
  transition: transform .2s
}

#salva:hover{
transform: scale(1.1);
}

.rodape{
  margin-top: -15px;
  text-align: center;
  background: #e81b1b;
  color: #fdfbfb;
  font-weight:300;
}

span{
  margin-left: 80%;
  color: #4286f4;
  font-weight:400;
}

.rodape2{
  margin-top: 15px;
  text-align: center;
  background: #e81b1b;
  color: #fdfbfb;
  font-weight:300;
}

#logo_fundo{
  width: 150px;
}
